flows/flow-for-rpi.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5302116ea6a6002c",
        "type": "mqtt-broker",
        "name": "paho",
        "broker": "f9cc4cbec7c54744b1448fe4e6bfd274.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "lynx-iot-nodered-00000000fbcc7715",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "my/test/nodered",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "{\"clientId\": \"lynx-iot-nodered-00000000fbcc7715\", \"type\": 1}",
        "birthMsg": {},
        "closeTopic": "my/test/nodered",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "{\"clientId\": \"lynx-iot-nodered-00000000fbcc7715\", \"type\": 3}",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e0f0ad7bf2bc042",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.baidu.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "f937eeabd4d14dc9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b240794aeaa6512",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "dc6f71715005b049"
            ]
        ]
    },
    {
        "id": "dc6f71715005b049",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "0e0f0ad7bf2bc042"
            ],
            [
                "2e563da831e0b7fe"
            ],
            []
        ]
    },
    {
        "id": "2e563da831e0b7fe",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = {\n    clientId: 'lynx-iot-nodered-00000000fbcc7715',\n    type: 0,\n    data:{\n        temperature: Number.parseFloat((Math.random() * 60).toFixed(2)),\n        humidity: Number.parseFloat(Math.random().toFixed(2)),\n        speed: Number.parseInt((Math.random() * 5000).toFixed(1)),\n        voltage: Number.parseInt((Math.random() * 220).toFixed(0)),\n        electric: Number.parseFloat((Math.random() * 5).toFixed(1)),\n        pressure: Number.parseFloat((Math.random() * 10).toFixed(1)),\n        timestamp: new Date().getTime()\n    }\n}\n\n// systeminformation.baseboard().then(result=>{\n//     console.log(result)\n// })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// 部署节点后，此处添加的代码将运行一次。\n\nsysteminformation.baseboard().then((/** @type {any} */ result) => {\n    console.log(result)\n})",
        "finalize": "",
        "libs": [
            {
                "var": "systeminformation",
                "module": "systeminformation"
            }
        ],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "f937eeabd4d14dc9",
                "70b6b88713af8499"
            ]
        ]
    },
    {
        "id": "012382e7134f488e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "sub-self",
        "topic": "lynx-iot-nodered-00000000fbcc7715",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5302116ea6a6002c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "41bf3791965f0146"
            ]
        ]
    },
    {
        "id": "70b6b88713af8499",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "notify",
        "topic": "my/test/nodered",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5302116ea6a6002c",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "17061a4ca53e7d71",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "my/test/electron",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5302116ea6a6002c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 480,
        "wires": [
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "41bf3791965f0146",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "parseMsg",
        "func": "var iotMsg = msg.payload\nmsg.payload = iotMsg.type\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 580,
        "wires": [
            [
                "9c03ab9d0228e102"
            ]
        ]
    },
    {
        "id": "9c03ab9d0228e102",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 580,
        "wires": [
            [],
            [
                "0baa06e38b4386ae"
            ],
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "0baa06e38b4386ae",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "3b14aaa5a3ac8340",
        "type": "rpi-gpio in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "77631061f7faf39a"
            ]
        ]
    },
    {
        "id": "d141499f860a4b04",
        "type": "rpi-gpio in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "77631061f7faf39a"
            ]
        ]
    },
    {
        "id": "77631061f7faf39a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "619f91596913d2a9",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 380,
        "y": 940,
        "wires": []
    },
    {
        "id": "b57cc2145d6efeb4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "619f91596913d2a9",
                "bbb6f04e40cf906c"
            ]
        ]
    },
    {
        "id": "bbb6f04e40cf906c",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 840,
        "wires": [
            [
                "6f34473d8d144b2b"
            ]
        ]
    },
    {
        "id": "b31079a0ae431efd",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "6",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 740,
        "y": 840,
        "wires": []
    },
    {
        "id": "6f34473d8d144b2b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 840,
        "wires": [
            [
                "b31079a0ae431efd",
                "0d9accc5cac673f2"
            ]
        ]
    },
    {
        "id": "b875b6ef86697e22",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 920,
        "y": 920,
        "wires": []
    },
    {
        "id": "a09e176d1e7c3c18",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 1000,
        "wires": [
            [
                "b590c5c4f17cd4a5"
            ]
        ]
    },
    {
        "id": "b590c5c4f17cd4a5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1000,
        "wires": [
            [
                "373326969f4f45b7"
            ]
        ]
    },
    {
        "id": "373326969f4f45b7",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1260,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0d9accc5cac673f2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.payload = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 920,
        "wires": [
            [
                "b875b6ef86697e22",
                "a09e176d1e7c3c18"
            ]
        ]
    },
    {
        "id": "214ff6f48b7266d7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "InitEnv",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// 部署节点后，此处添加的代码将运行一次。 \nsysteminformation.baseboard().then(result=>{\n    console.log(result)\n})",
        "finalize": "",
        "libs": [
            {
                "var": "systeminformation",
                "module": "systeminformation"
            }
        ],
        "x": 950,
        "y": 360,
        "wires": [
            []
        ]
    }
]