flows/flow-for-rpi.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcea2653db1caddd",
        "type": "subflow",
        "name": "LightController",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "5302116ea6a6002c",
        "type": "mqtt-broker",
        "name": "paho",
        "broker": "f9cc4cbec7c54744b1448fe4e6bfd274.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "lynx-iot-nodered-00000000fbcc7715",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "my/test/nodered",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "{\"clientId\": \"lynx-iot-nodered-00000000fbcc7715\", \"type\": 1}",
        "birthMsg": {},
        "closeTopic": "my/test/nodered",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "{\"clientId\": \"lynx-iot-nodered-00000000fbcc7715\", \"type\": 3}",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a204ab9d0c45b4a3",
        "type": "rpi-gpio out",
        "z": "bcea2653db1caddd",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "cb29d649f88512a9",
        "type": "inject",
        "z": "bcea2653db1caddd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "a204ab9d0c45b4a3",
                "f3ad058bd1e48165"
            ]
        ]
    },
    {
        "id": "f3ad058bd1e48165",
        "type": "delay",
        "z": "bcea2653db1caddd",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "875f74d74cb38193"
            ]
        ]
    },
    {
        "id": "ca12c1e8773798df",
        "type": "rpi-gpio out",
        "z": "bcea2653db1caddd",
        "name": "",
        "pin": "6",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "875f74d74cb38193",
        "type": "function",
        "z": "bcea2653db1caddd",
        "name": "function 5",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "ca12c1e8773798df",
                "7493c9a2e88e81e9"
            ]
        ]
    },
    {
        "id": "f1c417779d6dc7ff",
        "type": "rpi-gpio out",
        "z": "bcea2653db1caddd",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ee46a328c7ec783",
        "type": "delay",
        "z": "bcea2653db1caddd",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "f561b26e886e52c5"
            ]
        ]
    },
    {
        "id": "f561b26e886e52c5",
        "type": "function",
        "z": "bcea2653db1caddd",
        "name": "function 6",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "d3d99923d7817969"
            ]
        ]
    },
    {
        "id": "d3d99923d7817969",
        "type": "rpi-gpio out",
        "z": "bcea2653db1caddd",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "7493c9a2e88e81e9",
        "type": "function",
        "z": "bcea2653db1caddd",
        "name": "function 7",
        "func": "msg.payload = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "f1c417779d6dc7ff",
                "5ee46a328c7ec783"
            ]
        ]
    },
    {
        "id": "0e0f0ad7bf2bc042",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.baidu.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "f937eeabd4d14dc9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b240794aeaa6512",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "dc6f71715005b049",
                "214ff6f48b7266d7"
            ]
        ]
    },
    {
        "id": "dc6f71715005b049",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "0e0f0ad7bf2bc042"
            ],
            [
                "2e563da831e0b7fe"
            ],
            []
        ]
    },
    {
        "id": "2e563da831e0b7fe",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = {\n    clientId: flow.get('deviceId'),\n    type: 0,\n    data:{\n        temperature: Number.parseFloat((Math.random() * 60).toFixed(2)),\n        humidity: Number.parseFloat(Math.random().toFixed(2)),\n        speed: Number.parseInt((Math.random() * 5000).toFixed(1)),\n        voltage: Number.parseInt((Math.random() * 220).toFixed(0)),\n        electric: Number.parseFloat((Math.random() * 5).toFixed(1)),\n        pressure: Number.parseFloat((Math.random() * 10).toFixed(1)),\n        timestamp: new Date().getTime()\n    }\n}\n\n// systeminformation.baseboard().then(result=>{\n//     console.log(result)\n// })\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// 部署节点后，此处添加的代码将运行一次。\n\nsysteminformation.baseboard().then((/** @type {any} */ result) => {\n    console.log(result)\n})",
        "finalize": "",
        "libs": [
            {
                "var": "systeminformation",
                "module": "systeminformation"
            }
        ],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "70b6b88713af8499"
            ]
        ]
    },
    {
        "id": "012382e7134f488e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "sub-self",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5302116ea6a6002c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "41bf3791965f0146"
            ]
        ]
    },
    {
        "id": "70b6b88713af8499",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "notify",
        "topic": "my/test/nodered",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5302116ea6a6002c",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "17061a4ca53e7d71",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "my/test/electron",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5302116ea6a6002c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "41bf3791965f0146",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "parseMsg",
        "func": "var iotMsg = msg.payload\nmsg.payload = iotMsg.type\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 40,
        "wires": [
            [
                "9c03ab9d0228e102"
            ]
        ]
    },
    {
        "id": "9c03ab9d0228e102",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 870,
        "y": 40,
        "wires": [
            [],
            [
                "0baa06e38b4386ae"
            ],
            [
                "f937eeabd4d14dc9"
            ]
        ]
    },
    {
        "id": "0baa06e38b4386ae",
        "type": "rpi-gpio out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1100,
        "y": 40,
        "wires": []
    },
    {
        "id": "214ff6f48b7266d7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "InitEnv",
        "func": "msg.action = 'subscribe'\nmsg.topic = flow.get('deviceId')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// 部署节点后，此处添加的代码将运行一次。 \n\nif (context.get('deviceId') == null) {\n    let info = await systeminformation.baseboard()\n    flow.set('deviceInfo', info)\n    flow.set('deviceId', `lynx-iot-nodered-${info.serial}`)\n}\n",
        "finalize": "",
        "libs": [
            {
                "var": "systeminformation",
                "module": "systeminformation"
            }
        ],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "f937eeabd4d14dc9",
                "012382e7134f488e"
            ]
        ]
    }
]